            <div class="navbar">
              <div class="navbar-inner">
                <div class="container-fluid">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <div class="nav-collapse collapse">
                    <div class="nav" style="width:100%">
                        <span class="brand">Weights:</span>
                        +1 <input type="text" class="span1" ng-model="costs.like_cost">
                        Share <input type="text" class="span1" ng-model="costs.share_cost">
                        Comment <input type="text" class="span1" ng-model="costs.comment_cost">
                        <button class="btn pull-right" ng-click="update_weights()">Update</button>
                    </div>
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </div>

<div ng-repeat="t in targets">

    <img src="{{t.target_photo}}" alt="avatar" />
    <h3>{{t.name}}</h3>
    <button class="btn" ng-click="remove_target(t)">Remove</button>

</div>

<a href="#modal_add_target" role="button" class="btn" data-toggle="modal">
    Add new target
</a><br><br>

<div id="modal_add_target" class="modal hide fade ng-scope" tabindex="-1" role="dialog" aria-labelledby="list_modal_label" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="list_modal_label">Add new target</h3>
    </div>
    <div class="modal-body">
        <input ng-model="target_name" type="text" placeholder="Target name" class="ng-valid ng-dirty">
        <button ng-click="fetch_partial_results()" nd-disabled="target_name.length==0" class="btn">Search</button>

        <div ng-repeat="suggested in suggestions" class="suggested">
            <img src="{{suggested.image.url}}" alt="profile_pic" />
            <p style="position:absolute; left:55px; top:15px">{{suggested.displayName}}</p>
            <button class="btn" style="position:absolute; right:5px; top:13px" ng-click="add_target(suggested)">+</button>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="save_new_list" class="btn btn-primary" ng-click="save_new_list()">Save</button>
    </div>
</div>

